[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pypdf = "*"
geopy = "*"
pandas = "*"
openmeteo-requests = "*"
requests-cache = "*"
retry-requests = "*"
pypdf2 = "==1.26.0"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
